body
{
    background-image: url(../img/landing_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.jumbo
{   opacity: 95%;
    background-color: rebeccapurple;    
    margin-top: 40px;
}

.q_card
{
    margin-bottom: 15px;
}

.card_container
{
    margin-top: 100px;
}

.card-block img
{
    padding: 3px;
    margin: 5px;
    height: 100px;
    width: 100px;
}

.card
{
    opacity: 90%;
}